<div class="home gap-1">
  <!-- Add Product Button -->
  <button
    type="button"
    pButton
    icon="pi pi-plus"
    (click)="toggleAddPopup()"
    label="Add Product">
  </button>

  <!-- Products Section -->
  <div class="row wrap gap-1 space-between">
    <app-product *ngFor="let product of products"
                 [product]="product"
                 (edit)="toggleEditPopup($event)"
                 (delete)="toggleDeletePopup($event)"
    ></app-product>
  </div>

  <!-- Paginator -->
  <p-paginator
    [rows]="rows"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[5, 10, 20]"
    #paginator
  ></p-paginator>
  <!-- #paginator - custom decorator for paginator -->
</div>

<!-- Edit popup -->
<app-edit-popup>
  [product]="selectedProduct" <!-- Accepts Product object -->
  [(display)]="displayEditPopup"
  (confirm)="onConfirmEdit($event)"
  <!-- Method which will receive confirm emitter here, which will be triggered only on edit -->
  header="Edit Product"
</app-edit-popup>

<!-- Add popup -->
<app-edit-popup>
  <!-- With two brackets binding: [(display)], it can also receive output events - double binding  -->
  [(display)]="displayAddPopup"
  (confirm)="onConfirmAdd($event)"
  header="Add Product"
</app-edit-popup>

